{
  "env": {
    "development": {
      "presets": [
        "@babel/env",
        "@babel/typescript",
        "@emotion/babel-preset-css-prop",
        ["@babel/preset-react", { "development": true }]
      ],
      "plugins": [
        ["emotion", { "sourceMap": true }],
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining"
      ]
    },
    "production": {
  	  "presets": [
        "@babel/env",
        "@emotion/babel-preset-css-prop",
  	    "@babel/preset-react"
      ],
      "plugins": [
        "emotion",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining"
      ]
    }
  }
}
