.hamburger-button {
  position: absolute;

  height: 32px;
  width: 32px;

  cursor: pointer;
}

.hamburger-icon {
  @include v-center(2px);
  @include h-center(24px);

  &,
  &::after,
  &::before {
    position: absolute;

    height: 2px;
    width: 24px;
    background-color: $light1;

    border-radius: 1px;
  }

  &::after {
    content: '';

    top: 8px;
    left: 0;
  }

  &::before {
    content: '';

    bottom: 8px;
    left: 0;
  }

  &:hover {

  }

  &:active {

  }
}
