$scroll-bar-color: #777;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: $dark3;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($scroll-bar-color, .3);

  &:hover {
    background-color: rgba($scroll-bar-color, .6);
  }

  &:active {
    background-color: rgba($scroll-bar-color, .9);
  }
}
