// Colors
$light1: #00b0ff;

$dark1: #333;

$gray0: #ddd;
$gray1: #bbb;
$gray2: #999;
$gray3: #777;
$gray4: #555;
$gray5: #333;

$dark3: #eee;

// Fonts
$roboto: 'Roboto';
$source: 'Source Sans Pro';
$open: 'Open Sans';
